:root {
  --primary-color: #e4eaec; 
  --secondary-color: #d49007;; 
  --text-color: white;
  --backgound-glass: rgba(255, 255, 255, 0.15);
  --backdrop-filter-blur: blur(10px);
  --all-border: 1px solid rgba(255, 255, 255, 0.4);
  --border-radius-forAll: 20px; /*Korner*/
  --spacing: 20px; /*Abstand zwischen Kontainer*/

  --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;/*Hauptschrift*/
  --font-size-lg: 1.25rem;/*Größe schrifgröße z.B. Absätze*/
  --font-size-xl: 2.5rem;/*Hauptüberschriften z.B. Willkommen usw.*/
  --body-size: 1640px;

  --o-transform: translateY(-8px);
}

* {
  margin: 0;/*Standard Außerabstände zurücksetzen*/
  padding: 0; /*Innerabstände zurücksetzen*/
  box-sizing: border-box; /*Padding in Breite/Höhe*/
}


body {

  font-family: var(--font-main); /*Hauptschrift*/
  color: var(--text-color);/*Schriftfarbe*/
  background-image: url("images/logos-backgrounds/playdough-art-with-seal-underwater.jpg");;
  background-size: cover; /*Background anpassen*/
  background-repeat: no-repeat;/*Ohne kann wiederholen*/
  background-position: center;/*Hintergrund zentrieren*/
  margin-right: -80px;
  max-width: var(--body-size);
  margin: 0 auto;

}

.logo {
  color: #e4eaec;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 8px;

}

.logo:hover {
  transition: transform 0.2s ease, color 0.2s ease;
  color: var(--secondary-color);
  transform: var(--o-transform);

}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter:var(--backdrop-filter-blur);
  width: 100%;
  margin-top: 15px;
  padding: 15px;/*Innerabstand*/
  border-radius: var(--border-radius-forAll);/*abgerundetes Menü*/
  opacity: 0.9;
  border: var(--all-border);
  background: var(--backgound-glass);
}


header ul {
  list-style: none; /*Listenpunkte enfernen*/
  display: flex;/*Flexbox für horizontale Anordnung*/
  justify-content: flex-end;/*Nach rechts ausrichten*/
  gap: 30px;/*Abstand zwischen den Elementen*/
}

header ul li a {
  color: white;/*List z.B. Startseite, Kinder usw.*/
  text-decoration: none;/*Ohne decaration*/
  font-weight: bold;/**/
  padding: 8px 15px;
  border-radius: 6px;
  display: inline-block; 
  transition: transform 0.2s ease, color 0.2s ease;
}

header li a:hover {
  color: var(--secondary-color); 
  transform: var(--o-transform);
  
}

/* Haupttext */
h2, h3 {
  color:white;
  font-weight: 700;
  margin-bottom: var(--spacing);
}


h1 {
  font-size: 2rem;
  text-align: left;
  margin-top: 30px;
}

p {
  margin: 10px 0;
  font-size: var(--font-size-lg);
  line-height: 1.6;
}

main {
  
  width: 100%;
  background: var(--backgound-glass);
  backdrop-filter: var(--backdrop-filter-blur);
  border: var(--all-border);
  border-radius: var(--border-radius-forAll);
  padding: 40px; 
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  min-height: 100vh;
  
}


.footer {
  backdrop-filter: var(--backdrop-filter-blur);
  margin: 0;
  text-align: center;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: var(--border-radius-forAll);
  border: var(--all-border);
  background: var(--backgound-glass);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.footer-links li a {
  text-decoration: none;
  color: white;
}

.footer-links li a:hover {
  color: var(--secondary-color);
}
