
.footer {
  backdrop-filter: var(--backdrop-filter-blur);
  margin: 0;
  text-align: center;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: var(--border-radius-forAll);
  border: var(--all-border);
  background: var(--backgound-glass);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.footer-links li a {
  text-decoration: none;
  color: white;
}

.footer-links li a:hover {
  color: var(--secondary-color);
}