:root {
  --primary-color: #e4eaec; 
  --secondary-color: #d49007;; 
  --text-color: white;
  --backgound-glass: rgba(255, 255, 255, 0.15);
  --backdrop-filter-blur: blur(10px);
  --all-border: 1px solid rgba(255, 255, 255, 0.4);
  --border-radius-forAll: 20px; /*Korner*/
  --spacing: 20px; /*Abstand zwischen Kontainer*/

  --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;/*Hauptschrift*/
  --font-size-lg: 1.25rem;/*Größe schrifgröße z.B. Absätze*/
  --font-size-xl: 2.5rem;/*Hauptüberschriften z.B. Willkommen usw.*/
  --body-size: 1640px;
  --o-transform: translateY(-8px);
}

* {
  margin: 0;/*Standard Außerabstände zurücksetzen*/
  padding: 0; /*Innerabstände zurücksetzen*/
  box-sizing: border-box; /*Padding in Breite/Höhe*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter:var(--backdrop-filter-blur);
  width: 100%;
  margin-top: 15px;
  padding: 15px;/*Innerabstand*/
  border-radius: var(--border-radius-forAll);/*abgerundetes Menü*/
  opacity: 0.9;
  border: var(--all-border);
  background: var(--backgound-glass);
}


header ul {
  list-style: none; /*Listenpunkte enfernen*/
  display: flex;/*Flexbox für horizontale Anordnung*/
  justify-content: flex-end;/*Nach rechts ausrichten*/
  gap: 30px;/*Abstand zwischen den Elementen*/
}

header ul li a {
  color: white;/*List z.B. Startseite, Kinder usw.*/
  text-decoration: none;/*Ohne decaration*/
  font-weight: bold;/**/
  padding: 8px 15px;
  border-radius: 6px;
  display: inline-block; 
  transition: transform 0.2s ease, color 0.2s ease;
}

header li a:hover {
  color: var(--secondary-color); 
  transform: var(--o-transform);
  
}