:root {
  --main-radius: 20px;
  --main-text-color: white;
  --box-shadow-px: 0 4px 10px;
  --box-shadow-color: oklch(79.444% 0.17083 71.184 / 0.973);
  --transition-fast: 0.3s ease;
  --backdrop-filter-blur: blur(10px);
  --spacing: 20px;
  --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2.5rem;
}

.groups {
    display: grid;
    grid-template-columns:auto;
    gap: var(--spacing);
    padding: var(--spacing);
    max-width: 1600px;
    margin: auto;
}

.group {
    margin-bottom: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: var(--backdrop-filter-blur);
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow-px) var(--box-shadow-color);
    padding: var(--spacing);
    transition: var(--transition-fast);
}

.group:hover {
    transform: translateY(-8px);
}

.group h2 {
    text-align: center;
    margin-bottom: var(--spacing);
    font-size: var(--font-size-lg);
    color: var(--main-text-color);
}

#gruppe-rot h2 { color: red; }
#gruppe-grün h2 { color: greenyellow; }
#gruppe-blau h2 { color: blue; }
#gruppe-gelb h2 { color: goldenrod; }

.child-card {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: var(--backdrop-filter-blur);
    border-radius: var(--main-radius);
    padding: 12px;
    box-shadow: var(--box-shadow-px) var(--box-shadow-color);
    transition: transform var(--transition-fast);
}

.child-card:hover {
    transform: scale(1.02);
}

.child-card h3 {
    margin: 0;
    font-size: 1.1rem;
    color: white;
}

.child-card p {
    margin: 4px 0 0;
    font-size: 1.15rem;
    color: white;
}